@page
@model PortfolioWebsite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me - My Portfolio</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add custom styles here */
    </style>
</head>

<body>
    <div class="container mt-5 pt-5">
        <h1 class="text-center mb-4">Contact Me</h1>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-0 mb-4">
                    <div class="card-body text-center p-4">
                        <h2 class="card-title mb-4">Contact Information</h2>
                        <p class="card-text"><strong>Email:</strong> <a href="mailto:your-email@example.com">nikhilmahendrakar04@gmail.com</a></p>
                        <p class="card-text"><strong>Phone:</strong>(951)-544-8811</p>
                        <p class="card-text"><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/nikhil-mahendrakar-6a79a0137/" target="_blank">Nikhil Mahendrakar</a></p>
                        <p class="card-text"><strong>Location:</strong> Riverside, California</p>
                        <p class="card-text"><strong>Github:</strong> <a href="https://github.com/NikhilMahendrakar" target="_blank">Github</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
